.header{
    text-align: center;
    align-items: center;
}

.newsName{
    margin-bottom: 6px;
}

.shor{
    padding: 3px;
    margin-top: 1px;
}

hr{
    margin: 4px;
}

/* Newest News Part */
.newestNews{
    text-align: right;
}

.rounded{
    margin: 7px 0px;
}
/* End of newest */

.comment {
    width: 800px;
    
}

.commentBox {
	width: 100%;
	height: 70px;
	padding: 5px;
	outline: none;
	font-size: 80%;
	resize: vertical;
	margin-bottom: 20px;
	border: 1px solid #0EBFE9;
	border-bottom: 4px solid gray;
}

.comment p {
	line-height: 30px;
}

.comment button {
    border: 0;
	width:	30%;
	color: #fff;
	height: 35px;
	float: right;
	outline: none;
	cursor: pointer;
	font-weight: 700;
    background-color: black;
	border-bottom: 3px solid gray;
}

.comment button:hover {
	opacity: 70%;
	border-bottom: 3px solid gray;
}

.comment ul {
	margin-top: 60px;
	list-style: none;
	padding-left: 0px;
}

.pharagraph {
	padding: 10px 10px;
  word-wrap: break-word;
	border-bottom: 3px solid gray;
}

.comment ul li:hover {
	border-bottom: 3px solid gray;
}

.buttonCom{
    background-color: black;
	border-bottom: 3px solid gray;
    font-size: 10px;
    padding: 5px;
}